@import-normalize;

/* if the project was larger, I would definitely use SCSS or some JSS library for styling! */
.ImageCard__Wrapper {
  background: gainsboro;
  margin-bottom: 8px;
  position: relative;
}

.ImageCard__Image {
  width: 100%;
}

.ImageCard__Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
}

.ImageCard__UserLink {
  color: white;
}

.ImageCard__UserLink:hover {
  color: white;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner {
  margin-top: 48px;
}

.spinner::before {
  content: "";
  position: absolute;
  animation: 1s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 4px gainsboro;
  border-bottom-color: darkgray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}